/* @import url(//fonts.googleapis.com/css?family=Dosis:400,500,300); */

@font-face {
	font-family: "Guild";
	src: url(/fonts/guild.ttf) format("truetype");
}

body {
	background-color: #F0F0F0;
	font-family: "Guild", sans-serif;
}

#panel {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@media only screen and (min-width : 320px) {
	#panel img#logo {
		width: 100%;
	}
}

@media only screen and (min-width : 768px) {
	#panel img#logo {
		width: 75%;
	}
}

@media only screen and (min-width : 320px) {
	#panel h3 {
		font-size: 1.0em;
	}
}

@media only screen and (min-width : 768px) {
	#panel h3 {
		font-size: 1.5em;
	}
}

#panel #links {
	font-size: 0.75em;
}

#panel a.link {
	text-decoration: none;
	color: #000;
}

#panel a.button {
	background-color: #3a3;
	padding: 15px 45px;
	border-radius: 5px;
	color: #FFF;
	text-decoration: none;
	transition: .2s all ease-out;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

#panel a.button:hover {
	background-color: #3ac03a;
}

#panel a.button:active {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}