@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

* {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}